@keyframes rotate {
    from {
        transform: rotate(0deg);                       
    }
    to {
        transform: rotate(360deg);                
    }    
}
@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes stand_out {
    0% {
        opacity: .05;
        transform: translateX(-100%);
    }
    50% {
        opacity: .2;
    }

    100% {
        opacity: .05;
        transform: translateX(0%);        
    }
}
@keyframes translate_top {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }        
}
@keyframes translate_menu {
    from {
        transform: translateX(+100%);
    }
    to {
        transform: translateX(0%);
    }        
}